.car-item{
}

.event-image{
    width: 80%
    object-fit: contain;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .navbar{
 }

 .navbar-links{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 }

 .nav-item:hover{
    color:blue;
 }

 .main-box{
   background: rgba(248, 249, 250, 0.5) ;
 }

 .normal-text{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: black;
    font-size: 20px;
    text-align: justify;
 }

 .quote-box{
    border-right:double #0ef21a 10px;
    background-color: rgba(248, 249, 250, 0.8);
 }

 .quote-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-style: italic;
    text-align: justify;
    color: black;
 }

 .quote-by{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
 }

 .announcement-btn{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   color: yellow;
   border-style: solid;
   background: rgba(000, 000, 000, 0);
   border-color: rgba(000, 000, 000, 0);
 }

 .announcement-btn:hover{
   color: green;
 }

 .bg {
   /* The image used */
   background-image: url(assets/pexels-ethan-sees-2534617.jpg);
 
   /* Full height */
   height: 100%; 
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .team-box{
   
}

.team-image{
   
}

.team-page{
   
}

.team-name{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 20px;
   color: black;
}

.team-des{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: italic;
   font-size: 18px;
   color: blue;
}

.team-mail{
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: black;
}

.team-mail:hover{
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: blue;
   transition-duration: 0.1s;
   transition-timing-function: linear;
}

.team-details{
   font-family: 'Times New Roman', Times, serif;
   font-size: 19px;
   color: black;
}

.logos{
   padding-top: 5px;
   height: 130px;
   width: auto;
}

@media only screen and (max-width: 1080px) {
   .logos{
      padding-top: 5px;
      height: 130px;
      width: auto;
   }
}

/*Check out https://www.1001fonts.com for new fonts*/
@font-face {
   font-family: Averna-Rails;
   src: url(assets/Averna\ En\ Rails.ttf);
 }

 @font-face {
   font-family: Alex-Brush;
   src: url(assets/AlexBrush-Regular.ttf);
 }

 @font-face {
   font-family: Adine-Kirnberg-Alternate;
   src: url(assets/AdineKirnberg-Alternate.ttf);
 }

 @font-face {
   font-family: Tooney Noodle;
   src: url(assets/TooneyNoodleNF.ttf);
 }

 @font-face {
   font-family: Mexcellent;
   src: url(assets/mexcellent\ 3d.otf);
 }
 
 .scrolling-wrapper {
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
 
   .post-card {
      position: relative;
     display: inline-block;
     background: rgba(255, 255, 255, 0);
   }
 }

 .update-image {
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
 }
 
 .middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
 }
 
 .post-card:hover .update-image {
   opacity: 0.6;
 }
 
 .post-card:hover .middle {
   opacity: 1;
 }

 .update-text {
   background-color:#1877F2;
   color: white;
   font-size: 16px;
   padding: 16px 32px;
 }

 .meme-image {
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
 }

 .upcoming-events-des{
   padding-right: 50px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: justify;
   font-size: 20px;
 }

 @media only screen and (max-width: 800px) {
   .upcoming-events-des{
      font-size: 14px;
   }
 }

 @media only screen and (max-width: 900px) and (min-width: 800px) {
   .upcoming-events-des{
      font-size: 16px;
   }
 }

 .previous-events {
  display: inline-block;
  background: rgba(255, 255, 255, 0);
  height: auto; 
  width: 35vw; 
  max-width: 250px;
  margin: 10px; 
}

.freshers{
   font-family: Quarmic-sans;
   color: white;
}

@font-face {
   font-family: Bubble-Love;
   src: url(assets/Bubble\ Love\ Demo.otf);
 }

@font-face {
   font-family: Quarmic-sans;
   src: url(assets/Qarmic\ sans\ Abridged.ttf)
}

 .neon-text {
   color: #65cded;
   text-shadow:
       0 0 21px #65cded,
       0 0 42px #65cded,
       0 0 82px #65cded,
       0 0 92px #65cded,
       0 0 102px #65cded,
       0 0 151px #65cded;
 }

 .demos {
   text-align: center;
   margin-top: 10px;
}
 
 .demo-image {
   display: inline-block;
   width: auto;
   height: 200px;
   background-size: cover;
   margin-top: 2px;
   margin-bottom: 2px;
}

@font-face {
  font-family: Dosis-ExtraBold;
  src: url(assets/Dosis-ExtraBold.ttf)
}

@media only screen and (max-width: 800px) and (min-width: 400px) {
  .demo-image{
     height: 150px;
     width: auto;
  }
}

@media only screen and (max-width: 400px) {
  .demo-image{
     height: 100px;
     width: auto;
  }
}

@font-face {
  font-family: als-script;
  src: url(assets/alsscrp.ttf);
}

@font-face {
  font-family: Black-Chancery;
  src: url(assets/BLKCHCRY.TTF);
}

@font-face {
  font-family: Font-Leroy-Brown;
  src: url(assets/FontleroyBrownNF.ttf);
}

.teachers-day-quote{
  font-family: Black-Chancery;
  color: white;
}

.teachers-day{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.sports-day{
  color: black;
}

@font-face {
  font-family: Comication;
  src: url(assets/Comication.ttf);
}

.gallery-demo-image{
  display: inline-block;
  width: auto;
  height: 100px;
  background-size: cover;
  margin-top: 2px;
  margin-bottom: 2px;
}